<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This app is created by Rituparna Paul. It uses data from Mapbox & Weatherstack.</p>
            <img class="portrait" src="img/example.jpg" />
        </div>
        {{>footer}}
    </body>
</html>