<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Address</h5>
            </div>
            <div class="col-12 col-sm-4 align-self-center">
                <h5>Social</h5>
            </div>
        </div>
    </div>
    <p>Created by {{name}}</p>
</footer>